{%- comment -%}
  JST clock display for the Win95 taskbar tray.
  Time is updated by japanjunky-win95-menu.js
{%- endcomment -%}

<div class="jj-clock-tray">
  <span class="jj-clock-tray__label">{{ 'footer.clock_label' | t }}</span>
  <span class="jj-clock-tray__date" id="jj-date">--/--/--</span>
  <span class="jj-clock-tray__time" id="jj-clock">--:--</span>
</div>
